<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengqing.modules.code.mapper.BsTemplateMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.zhengqing.modules.code.entity.BsTemplate">
		<id column="id" property="id" />
		<result column="type" property="type" />
		<result column="file_suffix" property="fileSuffix" />
		<result column="content" property="content" />
		<result column="user_id" property="userId" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
	</resultMap>

    <select id="selectBsTemplates" resultMap="BaseResultMap">
        SELECT
             *
        FROM t_code_bs_template
        WHERE
             1 = 1
        <if test="filter.id!=null">
            AND	id = #{filter.id}
        </if>
        <if test="filter.userId!=null">
            AND	user_id = #{filter.userId}
        </if>
        <if test="filter.type!=null and filter.type!=''">
            AND type = #{filter.type}
        </if>
        ORDER BY id DESC
    </select>

</mapper>
