<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengqing.modules.system.mapper.UserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.zhengqing.modules.system.entity.User">
		<id column="id" property="id" />
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="pwd" property="pwd" />
		<result column="nick_name" property="nickName" />
		<result column="sex" property="sex" />
		<result column="phone" property="phone" />
		<result column="email" property="email" />
		<result column="avatar" property="avatar" />
		<result column="flag" property="flag" />
		<result column="salt" property="salt" />
		<result column="token" property="token" />
		<result column="qq_oppen_id" property="qqOppenId" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="gmt_modified" property="gmtModified" />
	</resultMap>


    <select id="selectUsers" resultMap="BaseResultMap">
        SELECT
             *
        FROM t_sys_user
        WHERE
             1 = 1
        <if test="filter.id!=null and filter.id!=''">
            AND	id= #{filter.id}
        </if>
		<if test="filter.username!=null and filter.username!=''">
			AND	username LIKE '%${filter.username}%'
		</if>
		<if test="filter.account!=null and filter.account!=''">
			AND	username = #{filter.account}
		</if>
        ORDER BY id DESC
    </select>

    <select id="selectUserByUsername" resultType="com.zhengqing.modules.system.entity.User">
		SELECT
			*
		FROM t_sys_user
		WHERE 1 = 1
		<if test="username!=null and username!=''">
			AND	username = #{username}
		</if>
	</select>

    <select id="getUserInfoByToken" resultType="com.zhengqing.modules.system.entity.User">
		SELECT
		*
		FROM t_sys_user
		WHERE 1 = 1
		<if test="token!=null and token!=''">
			AND	token = #{token}
		</if>
	</select>

	<select id="getUserInfoByQQ" resultType="com.zhengqing.modules.system.entity.User">
		SELECT
		*
		FROM t_sys_user
		WHERE 1 = 1
		<if test="qq_oppen_id!=null and qq_oppen_id!=''">
			AND	qq_oppen_id = #{qq_oppen_id}
		</if>
	</select>

	<select id="selectUserByRoleId" resultType="com.zhengqing.modules.system.entity.User">
        SELECT su.* FROM t_sys_user su
        LEFT JOIN t_sys_user_role sur ON su.id=sur.user_id
        WHERE sur.role_id = #{roleId}
    </select>

</mapper>
